# Ignore geoparquet data directory
data/geoparquet

# Ignore Quarto documents
*.qmd

# Large data files to ignore
bivariate/pop/data/vn_places/vn_places.dbf
bivariate/pop/data/vn_places/vn_places.geojson
bivariate/pop/data/vn_pop_h3_8.geojson
dggs/gars_grid_30_minutes.geojson

# Python cache directories
__pycache__/